<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        .code {
            font-family: Consolas;
            background-color: black;
            color: whitesmoke;
        }

        .warning {
            border: dashed 0.25em red;
            padding: 1em;
            font-weight: bold;
        }

        .bolder {
            font-weight: bolder;
        }

        .main {
            margin: auto;
            max-width: 900px;
            padding: 1em;
        }

        .bordered {
            border: 0.25em solid cornflowerblue;
            padding-left: 1em;
            padding-right: 1em;
            margin: 1em;
        }

        .crumb-button {
            float: left;
            margin-right: 1em;
        }
    </style>
</head>
<body style="background-color: cornsilk">
    <div class="main">
        <header>
            <div class="crumb-button">
                <form method="get">
                    <button asp-route="Home">Home</button>
                </form>
            </div>
            <div class="crumb-button">
                <form method="get">
                    <button asp-route="CustomMaps">Custom Maps</button>
                </form>
            </div>
            <form method="get">
                <button asp-route="RequestPrivateServer">Private Server</button>
            </form>
            <hr />
            <p style="font-style:italic">I live... Again!</p>
        </header>

        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div>
                <hr />
                <p>Do you think this page is ugly? You are right! If you want to make it look better, PRs are welcomed (but please, don't use any JavaScript, thanks): <a href="https://github.com/CommonLoon102/NBloodServerSupervisor" target="_blank" rel="nofollow noreferrer noopener">https://github.com/CommonLoon102/NBloodServerSupervisor</a></p>
            </div>
        </footer>
    </div>
</body>
</html>