@model PrivateViewModel
@{
    ViewData["Title"] = "Request Private Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    If you want to play with friends only and keep your port secret,
    request a private server by filling the below form:
</p>
<div class="bordered" style="padding:1em">
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="ModName"></label>
            </dt>
            <dd>
                <select asp-for="ModName" asp-items="Model.ModNames"></select>
            </dd>
        </dl>

        <dl>
            <dt>
                <label asp-for="Players"></label>
            </dt>
            <dd>
                <input type="number" min="2" max="7" asp-for="Players" />
            </dd>
        </dl>

        <dl>
            <dt>
                <label asp-for="FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FormFile" type="file" accept=".map">
            </dd>
        </dl>
        <button asp-route="RequestPrivateServer">Request</button>
    </form>
</div>
