@model List<string>
@{
    ViewData["Title"] = "Custom Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of available custom maps</h1>

<p>You can play these custom maps even on the public servers.
 If you want to play on your own map which is not listed here,
 you can request a new private server and upload your map which will be
 only available for that match, and the map won't appear in the below list.
</p>

<ul>
    @foreach (var map in Model)
    {
        <li><a href="@Url.Action("Index", "CustomMaps", new { map = map })">@map</a></li>
    }
</ul>
